* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav li:hover {
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
}

.dropdown {
  background-color: rgb(87, 82, 82);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li{
  width: 8em;
  text-align: center;
}

.nav-item {
  position: relative;
} 

.nav-item:hover .dropdown {
  display: block;
}
