body {
  margin: 0;
  padding: 0;
  background: #0d0b0b;
}
.banner {
  width: 100%;
}

.banner .nav {
  margin-right: 10%;
}
.banner .nav li a {
  color: #aaa;
  font-size: 1.2em;
}


nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}
